<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Catering SIW-2022</title>
<style type="text/css">
	label {
		display: inline-block;
		width: 200px;
		margin: 5px;
		text-align: left;
	}
	button {
		margin: 10px;
		padding: 10px;
	}
	input[type=text], input[type=password], select{
		display: inline-block;
		width: 200px;
	}
	input[type=checkbox]{
		margin-right: 190px;
	}
	span{
		color: red;
		font-style: italic;
	}
</style>
</head>
<body>
	<div>
		<h1>Aggiungi buffet</h1>
		
		<form action="#" th:action="@{'/admin/editBuffetForm/'+${buffet.id}}" method="post" th:object="${buffet}">
		
			<div>
			<label>Nome:</label>
			<input type="text" placeholder = "Nome" th:field="*{nome}"/>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Errore nome</span><br/>
			</div>
			
			<div>
			<label>Descrizione:</label>
			<input type="text" placeholder = "Descrizione" th:field="*{descrizione}"/>
			<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">Errore cognome</span><br/>
			</div>
			
			<div>
			<label>Chef:</label>
			<select th:object="${listaChef}" name="chefSelezionato" required>
				<option th:each="chef : ${listaChef}"
                            th:value="${chef.id}"
                            th:text="${chef.nome + ' ' + chef.cognome}"/>
			</select> 
			</div>
			
			<div>
			<label>Piatto 1:</label>
			<select th:object="${piatto1}" name="piatto1" required>
				<option selected="selected" th:text="${piatto1Attuale.nome}" ></option>
				<option th:each="piatto1 : ${listaPiatti}"
                            th:value="${piatto1.id}"
                            th:text="${piatto1.nome}"/>
			</select> 
			</div>
			
			<div>
			<label>Piatto 2:</label>
			<select th:object="${piatto2}" name="piatto2" required>
				<option selected="selected" th:text="${piatto2Attuale.nome}" ></option>
				<option th:each="piatto2 : ${listaPiatti}"
                            th:value="${piatto2.id}"
                            th:text="${piatto2.nome}"/>
			</select>
			</div>
			
			<div>
			<label>Piatto 3:</label>
			<select th:object="${piatto3}" name="piatto3" required>
				<option selected="selected" th:text="${piatto3Attuale.nome}" ></option>
				<option th:each="piatto3 : ${listaPiatti}"
                            th:value="${piatto3.id}"
                            th:text="${piatto3.nome}"/>
			</select>
			</div>
			
			<div>
			<label>Piatto 4:</label>
			<select th:object="${piatto4}" name="piatto4" required>
				<option selected="selected" th:text="${piatto4Attuale.nome}" ></option>
				<option th:each="piatto4 : ${listaPiatti}"
                            th:value="${piatto4.id}"
                            th:text="${piatto4.nome}"/>
			</select>
			</div>
			
			<button type="submit">Modifica</button>
		
		</form>
		
	</div>
</body>
</html>